<div class="page">
  <page-title></page-title>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-3 left">
        <movie-list></movie-list>
      </div>
  
      <div class="col-3">
        <fav-photos></fav-photos>
      </div>
  
      <div class="col-3 right">
        <chores-list></chores-list>
      </div>
    </div>
  </div>
  
  <hr>

  <fav-links></fav-links> 

  <hr>

  <div class="gif">
    <h4>How I feel after working on CSS....</h4>
    <img src="{{ gif }}" />
  </div>

</div>